* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  min-height: 100vh;
  cursor: default;
}


body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  overflow-x: hidden;
  line-height: 1;
  background-color: #152744
  ; 
  color: white;
  height: 100vh;
  width: 98%;
  /* color: #152744; */
}
.h1 {
  background-color: #F3F8FA;
  color: #152744;
  /* position: -webkit-sticky;
  position: sticky; */
  top: 0;
  font-size: 1.8em;
} 

.h2 {
  padding: 1em;
}

.h3 {
  font-size: 1.5em;
  color: #152744; 
}
.card-header{
  font-size: 1.2em;
  background-color:#9CE66B;
}
.search, .results {
  border: 1px solid white;
}

 .card-body, .card-text, .list-group-item {
  background-color: #152744;
  color: #FFFEF8;
} 
.card-body {
  padding: 1em;
}

.card-title {
  font-size: 2em;
  margin-top: .6em;
}

.card-title, .card-header {
  color: #152744;
}

.btn {
  background-color: #355aab;
  color: #F1C15A;
}

.btn:hover {
  margin: 10px;
 color: #152744;
 background-color: #F1C15A;
}

.main-result {
  border: 1px solid #F1C15A;
  margin: 0.3em;
}

.list-group-item {
  padding: 0.6em 1em;
}
/*
.hero {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 2em;
    /* margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1em;
}

.search-list {
  border: 2px solid black;
} */

/****  between 280px & 360px ******/
/* @media screen and (min-width: 360px) {
\
} */

  /* ***   576px and smaller *****
 @media screen and (min-width: 576px) {
  .card {
    width: 20%;
  }
}  */

  /*** MQ FOR SMALLER/MEDIUM SCREENS  and LARGER TABLETS,  LAPTOPS  DESKTOPS  ***/
@media screen and (min-width: 640px) {
}